/* Home */
* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: Mate SC
}

/* Inicio cabeçalho */
header {
	background-color: #fff;
	padding: 1px;
	display: flex;
	border-bottom: 10px solid #2079B0;
}



.logoimg {
	width: 325px;

}

.imglogin {
	height: 130px;
	width: 180px;

}

.logincerto {
	align-content: right;
}

.botoes {
	background-color: #93D1FF;
	border-radius: 15px;
	border-color: #68b8e9;
	height: 45px;
	font-family: Mate SC;
	font-size: larger;

}

.botao {
	width: 1200px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Inicio Corpo */




/* Imagem principal e agende e preços */
main {
	background-color: rgb(196, 203, 212);
	width: 100%;
	height: 685px;
	z-index: 0;

}

.agende {
	background-image: url(assets/Fundohp.jfif);
	height: 222px;
	width: 100%;
	background-color: #abc0ce;
	border-bottom: 10px solid #2079B0;
	background-size: cover;
}

.textoagende {
	width: 100%;
	padding-left: 44%;
	font-family: Mate SC;
}

.precoa {
	width: 100%;
	padding-left: 43%;
	top: 12%;

}

.unidade {
	width: 100%;
	padding-left: 43%;
	top: 14%;
	z-index: 1;
}

.retangulounidade {
	width: 200px;
	height: 20px;
	background-color: #fff;
	border-radius: 25px;
	position: absolute;
	right: 46%;
	z-index: 0;
}



/* Começo das Frases */
.abafrases {
	width: 100%;
	height: 200px;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.quadrados {
	align-content: center;
	width: 200px;
	height: 160px;
	border-radius: 15px 15px 0px 15px;
}

.textosfrases {
	margin: 15px;
	text-align: center;
	font-size: 27px;
}

#quadrado1 {
	color: #fff;
	background-color: #93D1FF;
	justify-content: center;
	z-index: 2;
}

#quadrado2 {
	color: #fff;
	background-color: #68b8e9;
	align-items: center;
	z-index: 2;
}

#quadrado3 {
	color: #fff;
	background-color: #2079B0;
	justify-content: center;
	z-index: 2;
}

.passoap {
	width: 100%;
	height: 180px;
	border-bottom: 10px solid #2079B0;
	border-top: 10px solid #2079B0;
}

.imgpap {
	width: 100%;


}


/* Inicio Rodapé */
footer {
	background-image: url(assets/fundocity.jpg);
	background-size: cover;
	filter: grayscale(85%);
	width: 100%;
	height: 200px;

}

.letrasfinais {
	color: #fff;
}

#direitos {
	position: absolute;
	bottom: 1%;

}

/* unidades */
/*.201_76 { 
	overflow:hidden;
} */
.e201_76 {
	background-color: rgba(255, 255, 255, 1);
	width: 3;
	height: 1024px;
	position: absolute;
}

.e201_77 {
	width: 429px;
	height: 123px;
	position: absolute;
	left: 0px;
	top: -13px;
	background-image: url(images/logo_removebg_preview_1.png);
	background-repeat: '' no-repeat;
	background-size: cover;
}

.e201_87 {
	background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width: 1942px;
	height: 920px;
	position: absolute;
	left: 232px;
	top: 110px;
	margin-left: -236px;
	background-image: url(myimage.jpg);
	background-repeat: no-repeat;
	background-size: 101%;
}

.e201_78 {
	color: rgba(147.68749594688416, 139.072385430336, 139.072385430336, 1);
	width: 219px;
	height: 56px;
	position: absolute;
	left: 495px;
	top: 2px;
	font-family: Mate SC;
	text-align: left;
	font-size: Symbol(figma.mixed)px;
	letter-spacing: 0;
}

.e201_89 {
	background-color: rgba(146.62499696016312, 209.4824856519699, 255, 1);
	width: 383px;
	height: 331px;
	position: absolute;
	left: 207px;
	top: 371px;
	border-radius: 30px;
}

.e201_79 {
	color: rgba(147.68749594688416, 139.072385430336, 139.072385430336, 1);
	width: 102px;
	height: 31px;
	position: absolute;
	left: 495px;
	top: 54px;
	font-family: Mate SC;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
}

.e201_90 {
	background-color: rgba(146.62499696016312, 209.4824856519699, 255, 1);
	width: 400;
	height: 331px;
	position: absolute;
	left: 1300;
	top: 364px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}

.e201_92 {
	color: rgba(255, 250.75000405311584, 250.75000405311584, 1);
	width: 316px;
	height: 84px;
	position: absolute;
	left: 239px;
	top: 382px;
	font-family: Mate SC;
	text-align: left;
	font-size: 32px;
	letter-spacing: 0;
}

.e201_93 {
	color: rgba(251.81250303983688, 251.81250303983688, 251.81250303983688, 1);
	width: 239px;
	height: 84px;
	position: absolute;
	left: 1400;
	top: 382px;
	font-family: Mate SC;
	text-align: left;
	font-size: 32px;
	letter-spacing: 0;
}

.e201_94 {
	color: rgba(147.68749594688416, 139.072385430336, 139.072385430336, 1);
	width: 226px;
	height: 55px;
	position: absolute;
	left: 494px;
	top: 30px;
	font-family: Mate SC;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
}

.e201_96 {
	color: rgba(32.00000189244747, 121.00000038743019, 176.00000470876694, 1);
	width: 224px;
	height: 96px;
	position: absolute;
	left: 1400;
	top: 434px;
	font-family: Mate SC;
	text-align: left;
	font-size: 20px;
	letter-spacing: 0;
}

.e201_97 {
	background-color: rgba(255, 255, 255, 1);
	width: 401px;
	height: 3px;
	position: absolute;
	left: 1300;
	top: 536px;
}

.e201_98 {
	background-color: rgba(255, 255, 255, 1);
	width: 383px;
	height: 3px;
	position: absolute;
	left: 207.5px;
	top: 539px;
}

.e201_100 {
	color: rgba(32.00000189244747, 121.00000038743019, 176.00000470876694, 1);
	width: 233px;
	height: 129px;
	position: absolute;
	left: 296px;
	top: 434px;
	font-family: Mate SC;
	text-align: left;
	font-size: 20px;
	letter-spacing: 0;
}

.e228_18 {
	color: rgba(32.00000189244747, 121.00000038743019, 176.00000470876694, 1);
	width: 225px;
	height: 182px;
	position: absolute;
	left: 296px;
	top: 543px;
	font-family: Mate SC;
	text-align: left;
	font-size: 20px;
	letter-spacing: 0;
}

.e228_19 {
	color: rgba(32.00000189244747, 121.00000038743019, 176.00000470876694, 1);
	width: 225px;
	height: 182px;
	position: absolute;
	left: 1400;
	top: 543px;
	font-family: Mate SC;
	text-align: left;
	font-size: 20px;
	letter-spacing: 0;
}

.e228_21 {
	background-color: rgba(32.00000189244747, 121.00000038743019, 176.00000470876694, 1);
	width: 1946px;
	height: 12px;
	position: absolute;
	left: -4px;
	top: 1025px;
}

.e228_29 {
	background-color: rgba(32.00000189244747, 121.00000038743019, 176.00000470876694, 1);
	width: 1920px;
	height: 12px;
	position: absolute;
	left: -6px;
	top: 98px;
}

.e395_64 {
	background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width: 75px;
	height: 58px;
	position: absolute;
	left: 1155px;
	top: 27px;
}

.e395_66 {
	background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width: 62px;
	height: 58px;
	position: absolute;
	left: 1251px;
	top: 27px;
}

.e395_51 {
	border-radius: 500px;
	width: 74px;
	height: 72px;
	position: absolute;
	left: 1800;
	top: 11px;
	background-image: url(images/ellipse_3.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e395_52 {
	background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width: 61px;
	height: 47px;
	position: absolute;
	left: 1172px;
	top: 30px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.e395_60 {
	background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width: 62px;
	height: 56px;
	position: absolute;
	left: 1171px;
	top: 27px;
}

.e537_55 {
	width: 100px;
	height: 100px;
	position: absolute;
	left: 213px;
	top: 5px;
}















/*Cadastro*/

html {
	height: 100%;
	width: 100%;
}

.e268_27 {
	overflow: hidden;
	border: 1px solid rgba(0, 0, 0, 1);
}


.e268_27 {
	background-color: rgba(255, 255, 255);
	width: 452px;
	left: 700px;
	height: 732px;
	position: absolute;
}

.e268_28 {
	border-radius: 500px;
	background-color: rgba(255, 255, 255, 1);
	width: 40px;
	height: 38px;
	position: absolute;
	left: 7px;
	top: 5px;
}


.e268_29 input {
	position: absolute;
	left: 725px;
	top: 128px;
	background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.6399999856948853);
	width: 399px;
	height: 50px;
	border: 1px solid #D9D9D9;
	font-size: 20px;

}


.e268_30 input {
	background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.6399999856948853);
	width: 399px;
	height: 50px;
	position: absolute;
	left: 725px;
	top: 201px;
	border: 1px solid #D9D9D9;
	font-size: 20px;
}

.e268_50 input {
	background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.6399999856948853);
	width: 399px;
	height: 50px;
	position: absolute;
	left: 725px;
	top: 274px;
	border: 1px solid #D9D9D9;
	font-size: 20px;
}




.e268_31 {
	background-color: rgba(146.62499696016312, 209.4824856519699, 255, 1);
	width: 399px;
	height: 57px;
	position: absolute;
	left: 725px;
	top: 350px;
	border-top-left-radius: 38px;
	border-top-right-radius: 38px;
	border-bottom-left-radius: 38px;
	border-bottom-right-radius: 38px;
}

.e268_32 {
	box-shadow: -1px 5px 4px rgba(0, 0, 0, 0.25);
	background-color: rgba(252.00000017881393, 252.00000017881393, 253.0000001192093, 1);
	width: 264px;
	height: 57px;
	position: absolute;
	left: 800px;
	top: 538px;
	border-top-left-radius: 38px;
	border-top-right-radius: 38px;
	border-bottom-left-radius: 38px;
	border-bottom-right-radius: 38px;
}

.e268_33 {
	color: rgba(32.00000189244747, 121.00000038743019, 176.00000470876694, 1);
	width: 60px;
	height: 24px;
	position: absolute;
	left: 57px;
	top: 141px;
	font-family: Inter;
	text-align: left;
	font-size: 20px;
	letter-spacing: 0;
}

.e268_34 {
	color: rgba(32.00000189244747, 121.00000038743019, 176.00000470876694, 1);
	width: 60px;
	height: 24px;
	position: absolute;
	left: 57px;
	top: 214px;
	font-family: Inter;
	text-align: left;
	font-size: 20px;
	letter-spacing: 0;
}

.e268_35 {
	color: white;
	background-color: #93D1FF;
	font-size: 20px;
	width: 399px;
	height: 57px;
	position: absolute;
	border-top-left-radius: 38px;
	border-top-right-radius: 38px;
	border-bottom-left-radius: 38px;
	border-bottom-right-radius: 38px;

}

.e268_36 {
	color: rgba(32.00000189244747, 121.00000038743019, 176.00000470876694, 1);
	width: 399px;
	height: 57px;
	position: absolute;
	border-top-left-radius: 38px;
	border-top-right-radius: 38px;
	border-bottom-left-radius: 38px;
	border-bottom-right-radius: 38px;
	left: 850px;
	top: 415px;
	font-family: Magra;
	text-align: left;
	font-size: 15px;
	letter-spacing: 10.5;
}

.e268_37 {
	color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width: 202px;
	height: 20px;
	position: absolute;
	left: 835px;
	top: 698px;
	font-family: Magra;
	text-align: center;
	font-size: 15px;
	letter-spacing: 10.5;
}

.e268_38 {
	color: rgba(0, 0, 0, 1);
	width: 202px;
	height: 17px;
	position: absolute;
	left: 885px;
	top: 521px;
	font-family: Magra;
	text-align: left;
	font-size: 13px;
	letter-spacing: 10.5;
}

.e268_39 {
	color: rgba(0, 0, 0, 0.7200000286102295);
	width: 202px;
	height: 17px;
	position: absolute;
	left: 775px;
	top: 440px;
	font-family: Magra;
	text-align: left;
	font-size: 13px;
	letter-spacing: 10.5;
}

.e268_41 {
	color: rgba(0, 0, 0, 1);
	width: 65px;
	height: 20px;
	position: absolute;
	left: 900px;
	top: 556px;
	font-family: Open Sans Hebrew;
	text-align: left;
	font-size: 15px;
	letter-spacing: 2;
}

.e268_42 {
	background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.7799999713897705);
	width: 19px;
	height: 16px;
	position: absolute;
	left: 750px;
	top: 440px;
	border-radius: 2px;
}

.e268_42 {
	border: 0.5px solid rgba(0, 0, 0, 1);
}

.e268_43 {
	transform: rotate(180deg);
	width: 30px;
	height: 0px;
	position: absolute;
	left: 42px;
	top: 22px;
}



.e268_44 {
	opacity: 0.75;
	width: 298px;
	height: 104px;
	position: absolute;
	left: 83px;
	top: 12px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	background-image: url(images/logo.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e268_45 {
	width: 35px;
	height: 30px;
	position: absolute;
	left: 1070px;
	top: 214px;
	background-image: url(images/image_4.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e297_156 {
	color: rgba(33, 99, 140);
	width: 162px;
	height: 24px;
	position: absolute;
	left: 150px;
	top: 702px;

}

.e268_37 {
	color: rgba(33, 99, 140);
	width: 202px;
	height: 20px;
	font-family: Magra;
	text-align: center;
	font-size: 15px;
	letter-spacing: 10.5;
}

.logo1 {
	height: 100px;
	width: 350px;


}

.logo2 {
	width: 48px;
	height: 45px;
	display: flex;
	flex-wrap: wrap;
	margin-left: 0%;
	margin-top: 2%;
	border-radius: 15px;

}


















/* Consultas (Médico) */


html {
	height: 100%;
	width: 100%;
}

.a1 {
	padding: 10px 20px;
	background-color: #2079b0;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;

}

button {
	padding: 10px 20px;
	background-color: #2079b0;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}


#subTela {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	padding: 30px;
	width: 600px;
	max-width: 90%;
	border-radius: 8px;
	box-shadow: 0 2px 6px #2079b0(0, 0, 0, 0.3);
	text-align: center;
	background-color: #7BC8FF;
	border: 4px solid #2079b0;
}


.e515_53 {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color: rgba(255, 255, 255, 0.7200000286102295);
	width: 1920px;
	height: 1080px;

	position: absolute
}

.e515_126 {
	color: rgba(255, 255, 255, 1);
	width: 398px;
	height: 41px;
	position: absolute;
	left: 24px;
	top: 489px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e515_55 {
	color: rgba(0, 0, 0, 1);
	width: 316px;
	height: 24px;
	position: absolute;
	left: -1377px;
	top: 263px;
	font-family: Mate SC;
	text-align: left;
	font-size: 20px;
	letter-spacing: 0;
}

.e532_395 {
	background-color: rgba(123.25000405311584, 199.6649980545044, 255, 1);
	width: 1920px;
	height: 66px;
	position: absolute;
	left: 0px;
	top: 268px;
}

.e532_403 {
	background-color: rgba(123.25000405311584, 199.6649980545044, 255, 1);
	width: 1920px;
	height: 66px;
	position: absolute;
	left: 0px;
	top: 161px;
}

.e532_396 {
	background-color: rgba(123.25000405311584, 199.6649980545044, 255, 1);
	width: 1920px;
	height: 66px;
	position: absolute;
	left: 0px;
	top: 382px;
}

.e532_397 {
	background-color: rgba(123.25000405311584, 199.6649980545044, 255, 1);
	width: 1920px;
	height: 66px;
	position: absolute;
	left: 0px;
	top: 484px;
}

.e532_398 {
	background-color: rgba(123.25000405311584, 199.6649980545044, 255, 1);
	width: 1920px;
	height: 66px;
	position: absolute;
	left: 0px;
	top: 607px
}

.e532_399 {
	background-color: rgba(123.25000405311584, 199.6649980545044, 255, 1);
	width: 1920px;
	height: 66px;
	position: absolute;
	left: 0px;
	top: 730px;
}

.e532_400 {
	background-color: rgba(123.25000405311584, 199.6649980545044, 255, 1);
	width: 1920px;
	height: 66px;
	position: absolute;
	left: 0px;
	top: 840px
}

.e532_401 {
	background-color: rgba(123.25000405311584, 199.6649980545044, 255, 1);
	width: 1920px;
	height: 66px;
	position: absolute;
	left: 0px;
	top: 959px;
}

.e515_217 {
	color: rgba(0, 0, 0, 1);
	width: 376px;
	height: 41px;
	position: absolute;
	left: 0px;
	top: 800px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e515_218 {
	color: rgba(0, 0, 0, 1);
	width: 308px;
	height: 41px;
	position: absolute;
	top: 681px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e515_221 {
	color: rgba(0, 0, 0, 1);
	width: 308px;
	height: 41px;
	position: absolute;
	left: 0px;
	top: 910px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e515_222 {
	color: rgba(0, 0, 0, 1);
	width: 376px;
	height: 41px;
	position: absolute;
	left: 0px;
	top: 1033px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e515_129 {
	color: rgba(2.000000118277967, 86.00000247359276, 138.00000697374344, 1);
	width: 387px;
	height: 41px;
	position: absolute;
	left: 632px;
	top: 174px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 6;
}

.e515_206 {
	color: rgba(2.000000118277967, 86.00000247359276, 138.00000697374344, 1);
	width: 387px;
	height: 41px;
	position: absolute;
	left: 632px;
	top: 280px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 6;
}

.e515_207 {
	color: rgba(2.000000118277967, 86.00000247359276, 138.00000697374344, 1);
	width: 387px;
	height: 41px;
	position: absolute;
	left: 632px;
	top: 391px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 6;
}

.e515_208 {
	color: rgba(2.000000118277967, 86.00000247359276, 138.00000697374344, 1);
	width: 387px;
	height: 41px;
	position: absolute;
	left: 632px;
	top: 495px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 6;
}

.e515_209 {
	color: rgba(2.000000118277967, 86.00000247359276, 138.00000697374344, 1);
	width: 387px;
	height: 41px;
	position: absolute;
	left: 632px;
	top: 617px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 6;
}

.e515_210 {
	color: rgba(2.000000118277967, 86.00000247359276, 138.00000697374344, 1);
	width: 387px;
	height: 41px;
	position: absolute;
	left: 632px;
	top: 738px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 6;
}

.e515_211 {
	color: rgba(2.000000118277967, 86.00000247359276, 138.00000697374344, 1);
	width: 387px;
	height: 41px;
	position: absolute;
	left: 632px;
	top: 847px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 6;
}

.e515_212 {
	color: rgba(2.000000118277967, 86.00000247359276, 138.00000697374344, 1);
	width: 387px;
	height: 41px;
	position: absolute;
	left: 632px;
	top: 966px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 6;
}

.e515_60 {
	background-color: rgba(255, 255, 255, 0);
	width: 137px;
	height: 55px;
	position: absolute;
	left: 1176px;
	top: 966px;
}

.e515_62 {
	background-color: rgba(255, 255, 255, 0);
	width: 61px;
	height: 47px;
	position: absolute;
	left: 1173px;
	top: 67px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.e515_70 {
	background-color: rgba(255, 255, 255, 0);
	width: 62px;
	height: 56px;
	position: absolute;
	left: 1172px;
	top: 64px;
}

.e515_77 {
	background-color: rgba(255, 255, 255, 0);
	width: 137px;
	height: 55px;
	position: absolute;
	left: 1176px;
	top: 966px;
}

.e515_79 {
	background-color: rgba(255, 255, 255, 0);
	width: 61px;
	height: 47px;
	position: absolute;
	left: 1173px;
	top: 67px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.e515_87 {
	background-color: rgba(255, 255, 255, 0);
	width: 62px;
	height: 56px;
	position: absolute;
	left: 1172px;
	top: 64px;
}

.e515_122 {
	color: rgba(2.000000118277967, 86.00000247359276, 138.00000697374344, 1);
	width: 499px;
	height: 61px;
	position: absolute;
	left: 710px;
	top: 0px;
	font-family: Mate SC;
	text-align: left;
	font-size: 50px;
	letter-spacing: 0;
}

.e515_123 {
	color: rgba(255, 255, 255, 1);
	width: 1920px;
	height: 41px;
	position: absolute;
	top: 170px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e515_124 {
	color: rgba(255, 255, 255, 1);
	width: 1920px;
	height: 41px;
	position: absolute;
	top: 280px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e515_125 {
	color: rgba(255, 255, 255, 1);
	width: 1920px;
	height: 41px;
	position: absolute;
	top: 391px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e515_213 {
	color: rgba(0, 0, 0, 1);
	width: 1920px;
	height: 41px;
	position: absolute;
	top: 236px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e515_214 {
	color: rgba(0, 0, 0, 1);
	width: 1920px;
	height: 41px;
	position: absolute;
	top: 339px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e515_215 {
	color: rgba(0, 0, 0, 1);
	width: 1920px;
	height: 41px;
	position: absolute;
	top: 450px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e515_216 {
	color: rgba(0, 0, 0, 1);
	width: 1920px;
	height: 41px;
	position: absolute;
	top: 557px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e515_197 {
	color: rgba(255, 255, 255, 1);
	width: 1920px;
	height: 41px;
	position: absolute;
	top: 498px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e515_127 {
	color: rgba(255, 255, 255, 1);
	width: 1920px;
	height: 41px;
	position: absolute;
	top: 621px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e515_128 {
	color: rgba(255, 255, 255, 1);
	width: 1920px;
	height: 41px;
	position: absolute;
	top: 741px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e515_219 {
	color: rgba(255, 255, 255, 1);
	width: 1920px;
	height: 41px;
	position: absolute;
	top: 973px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e515_220 {
	color: rgba(255, 255, 255, 1);
	width: 1920px;
	height: 41px;
	position: absolute;
	top: 854px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

/* Add these styles to your existing CSS file */
.consultation-table {
	width: 80%;
	margin: 20px auto;
	border-collapse: collapse;
  }
  
  .consultation-table th, .consultation-table td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
  }
  
  .consultation-table th {
	background-color: #2079b0;
	color: white;
  }
  
  /* Adicione essas regras ao seu arquivo CSS existente */
.consultation-table {
	width: 80%;
	margin: 20px auto;
	border-collapse: separate; /* Adiciona espaçamento entre células e linhas */
	border-spacing: 10px; /* Define o espaçamento desejado */
  }
  
  .consultation-table th,
  .consultation-table td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
  }
  
  .consultation-table th {
	background-color: #2079b0;
	color: white;
  }
  
  


/* Consultas (Paciente) */

#foto2 {
	margin-left: 28%;
}

#foto2:hover {
	transform: scale(1.1);
	transition: all 0.5s;
}

#botlogo {
	height: 80px;
}

.topico {
	padding: 0%;
	margin-bottom: 0px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logincerto {
	align-content: center;
}


.botoes {
	background-color: #93D1FF;
	border-radius: 40px;
	border-color: #ffffff ;
	height: 50px;
	width: 120px;
	font-family: Mate SC;
	font-size: large;
	margin-bottom: 10%;
}

.botoes:hover {
	background-color: #93D1FF;
	box-shadow: 5px 2px #4b93ca;
	transform: scale(1.1);
	transition: all 0.5s;
}

.botao {
	width: 600px;
	justify-content: space-between;
	padding: 15px;
	padding-left: 10px;
	align-items: center;
}

.b1 {
	padding: 10px 20px;
	background-color: #2079b0;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;

}

button {
	padding: 10px 20px;
	background-color: #2079b0;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

/* Estilos para a sub-tela */


#subTela {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	padding: 30px;
	width: 600px;
	max-width: 90%;
	border-radius: 8px;
	box-shadow: 0 2px 6px #2079b0(0, 0, 0, 0.3);
	text-align: center;
	background-color: #7BC8FF;
	border: 4px solid #2079b0;
}


.e975_214 {
	color: rgba(255, 255, 255, 1);
	width: 398px;
	height: 41px;
	position: absolute;
	left: 26px;
	top: 550px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e975_215 {
	color: rgba(0, 0, 0, 1);
	width: 316px;
	height: 24px;
	position: absolute;
	left: -1377px;
	top: 263px;
	font-family: Mate SC;
	text-align: left;
	font-size: 20px;
	letter-spacing: 0;
}

.e975_216 {
	background-color: rgba(123.25000405311584, 199.6649980545044, 255, 1);
	width: 1920px;
	height: 66px;
	position: absolute;
	left: 0px;
	top: 330px;
}

.e975_217 {
	color: rgba(255, 255, 255, 1);
	height: 51px;
	position: absolute;
	left: 2px;
	top: 342px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e975_218 {
	background-color: rgba(123.25000405311584, 199.6649980545044, 255, 1);
	width: 1920px;
	height: 66px;
	position: absolute;
	left: 0px;
	top: 216px;
}

.e975_219 {
	background-color: rgba(123.25000405311584, 199.6649980545044, 255, 1);
	width: 1920px;
	height: 66px;
	position: absolute;
	left: 0px;
	top: 443px;
}

.e975_220 {
	background-color: rgba(123.25000405311584, 199.6649980545044, 255, 1);
	width: 1920px;
	height: 66px;
	position: absolute;
	left: 0px;
	top: 544px;
}

.e975_221 {
	background-color: rgba(123.25000405311584, 199.6649980545044, 255, 1);
	width: 1920px;
	height: 66px;
	position: absolute;
	left: 0px;
	top: 669px;
}

.e975_222 {
	background-color: rgba(123.25000405311584, 199.6649980545044, 255, 1);
	width: 1920px;
	height: 66px;
	position: absolute;
	left: 0px;
	top: 791px;
}

.e975_223 {
	background-color: rgba(123.25000405311584, 199.6649980545044, 255, 1);
	width: 1920px;
	height: 66px;
	position: absolute;
	left: 0px;
	top: 903px;
}

.e975_224 {
	background-color: rgba(123.25000405311584, 199.6649980545044, 255, 1);
	width: 1920px;
	height: 66px;
	position: absolute;
	left: 0px;
	top: 1014px;
}

.e975_225 {
	color: rgba(255, 255, 255, 1);
	height: 51px;
	position: absolute;
	left: 0px;
	top: 458px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e975_226 {
	color: rgba(255, 255, 255, 1);
	height: 51px;
	position: absolute;
	left: 0px;
	top: 561px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e975_227 {
	color: rgba(255, 255, 255, 1);
	height: 51px;
	position: absolute;
	left: 2px;
	top: 682px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e975_228 {
	color: rgba(255, 255, 255, 1);
	height: 51px;
	position: absolute;
	left: 0px;
	top: 801px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e975_229 {
	color: rgba(255, 255, 255, 1);
	height: 51px;
	position: absolute;
	left: 2px;
	top: 914px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e975_230 {
	color: rgba(255, 255, 255, 1);
	height: 51px;
	position: absolute;
	left: -3px;
	top: 1023px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e975_231 {
	color: rgba(2.302083671092987, 86.24816715717316, 138.1250050663948, 1);
	height: 51px;
	position: absolute;
	left: 874px;
	top: 342px;
	font-family: Open Sans Hebrew;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e975_232 {
	color: rgba(255, 255, 255, 1);
	height: 51px;
	position: absolute;
	left: 2px;
	top: 224px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e975_233 {
	color: rgba(2.302083671092987, 86.24816715717316, 138.1250050663948, 1);
	height: 51px;
	position: absolute;
	left: 874px;
	top: 224px;
	font-family: Open Sans Hebrew;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e975_234 {
	color: rgba(2.302083671092987, 86.24816715717316, 138.1250050663948, 1);
	height: 51px;
	position: absolute;
	left: 874px;
	top: 458px;
	font-family: Open Sans Hebrew;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e975_235 {
	color: rgba(2.302083671092987, 86.24816715717316, 138.1250050663948, 1);
	height: 51px;
	position: absolute;
	left: 874px;
	top: 556px;
	font-family: Open Sans Hebrew;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e975_236 {
	color: rgba(2.302083671092987, 86.24816715717316, 138.1250050663948, 1);
	height: 51px;
	position: absolute;
	left: 874px;
	top: 681px;
	font-family: Open Sans Hebrew;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e975_237 {
	color: rgba(2.302083671092987, 86.24816715717316, 138.1250050663948, 1);
	height: 51px;
	position: absolute;
	left: 874px;
	top: 802px;
	font-family: Open Sans Hebrew;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e975_238 {
	color: rgba(2.302083671092987, 86.24816715717316, 138.1250050663948, 1);
	height: 51px;
	position: absolute;
	left: 874px;
	top: 913px;
	font-family: Open Sans Hebrew;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e975_239 {
	color: rgba(2.302083671092987, 86.24816715717316, 138.1250050663948, 1);
	height: 51px;
	position: absolute;
	left: 874px;
	top: 1023px;
	font-family: Open Sans Hebrew;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e975_240 {
	color: rgba(0, 0, 0, 1);
	width: 276px;
	height: 44px;
	position: absolute;
	left: 2px;
	top: 861px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e975_241 {
	color: rgba(0, 0, 0, 1);
	width: 276px;
	height: 44px;
	position: absolute;
	left: -3px;
	top: 742px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e975_242 {
	color: rgba(0, 0, 0, 1);
	width: 276px;
	height: 44px;
	position: absolute;
	left: 2px;
	top: 971px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e975_243 {
	color: rgba(0, 0, 0, 1);
	width: 276px;
	height: 44px;
	position: absolute;
	left: 2px;
	top: 1094px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e975_244 {
	color: rgba(0, 0, 0, 1);
	width: 276px;
	height: 44px;
	position: absolute;
	left: 2px;
	top: 287px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e975_245 {
	color: rgba(0, 0, 0, 1);
	width: 276px;
	height: 44px;
	position: absolute;
	left: 2px;
	top: 400px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e975_246 {
	color: rgba(0, 0, 0, 1);
	width: 276px;
	height: 44px;
	position: absolute;
	left: 2px;
	top: 509px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e975_247 {
	color: rgba(0, 0, 0, 1);
	width: 276px;
	height: 44px;
	position: absolute;
	left: 2px;
	top: 618px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}



/* registro css */



.e157_82 {
	overflow: hidden;
	border: 1px solid rgba(0, 0, 0, 1);
}

.e157_82 {
	background-color: rgba(255, 255, 255, 1);
	width: 452px;
	height: 732px;
	position: absolute;
}

.e157_83 {
	border-radius: 500px;
	background-color: rgba(255, 255, 255, 1);
	width: 40px;
	height: 38px;
	position: absolute;
	left: 7px;
	top: 5px;
}

.e157_140 {
	border-radius: 500px;
	background-color: rgba(255, 255, 255, 1);
	width: 40px;
	height: 38px;
	position: absolute;
	left: 7px;
	top: 5px;
}

.e157_84 {
	background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.6399999856948853);
	width: 399px;
	height: 50px;
	position: absolute;
	left: 27px;
	top: 266px;
}

.e157_85 {
	background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.6399999856948853);
	width: 399px;
	height: 50px;
	position: absolute;
	left: 27px;
	top: 334px;
}

.e157_86 {
	background-color: rgba(146.62499696016312, 209.4824856519699, 255, 1);
	width: 399px;
	height: 57px;
	position: absolute;
	left: 27px;
	top: 481px;
	border-top-left-radius: 38px;
	border-top-right-radius: 38px;
	border-bottom-left-radius: 38px;
	border-bottom-right-radius: 38px;
}

.e157_87 {
	box-shadow: -1px 5px 4px rgba(0, 0, 0, 0.25);
	background-color: rgba(252.00000017881393, 252.00000017881393, 253.0000001192093, 1);
	width: 264px;
	height: 57px;
	position: absolute;
	left: 107px;
	top: 623px;
	border-top-left-radius: 38px;
	border-top-right-radius: 38px;
	border-bottom-left-radius: 38px;
	border-bottom-right-radius: 38px;
}

.e157_88 {
	color: rgba(32.00000189244747, 121.00000038743019, 176.00000470876694, 1);
	width: 60px;
	height: 24px;
	position: absolute;
	left: 47px;
	top: 279px;
	font-family: Inter;
	text-align: left;
	font-size: 20px;
	letter-spacing: 0;
}

.e157_89 {
	color: rgba(32.00000189244747, 121.00000038743019, 176.00000470876694, 1);
	width: 60px;
	height: 24px;
	position: absolute;
	left: 47px;
	top: 347px;
	font-family: Inter;
	text-align: left;
	font-size: 20px;
	letter-spacing: 0;
}

.e157_102 {
	background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.6399999856948853);
	width: 399px;
	height: 50px;
	position: absolute;
	left: 25px;
	top: 123px;
}

.e157_103 {
	background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.6399999856948853);
	width: 399px;
	height: 50px;
	position: absolute;
	left: 25px;
	top: 196px;
}

.e157_104 {
	color: rgba(32.00000189244747, 121.00000038743019, 176.00000470876694, 1);
	width: 150px;
	height: 24px;
	position: absolute;
	left: 47px;
	top: 136px;
	font-family: Inter;
	text-align: left;
	font-size: 20px;
	letter-spacing: 0;
}

.e157_105 {
	color: rgba(32.00000189244747, 121.00000038743019, 176.00000470876694, 1);
	width: 39px;
	height: 24px;
	position: absolute;
	left: 47px;
	top: 211px;
	font-family: Inter;
	text-align: left;
	font-size: 20px;
	letter-spacing: 0;
}

.e157_90 {
	color: rgba(255, 255, 255, 1);
	width: 82px;
	height: 24px;
	position: absolute;
	left: 184px;
	top: 497px;
	font-family: Inter;
	text-align: left;
	font-size: 20px;
	letter-spacing: 0;
}

.e157_93 {
	color: rgba(0, 0, 0, 1);
	width: 202px;
	height: 17px;
	position: absolute;
	left: 185px;
	top: 606px;
	font-family: Magra;
	text-align: left;
	font-size: 13px;
	letter-spacing: 0;
}

.e157_94 {
	color: rgba(0, 0, 0, 0.7200000286102295);
	width: 202px;
	height: 17px;
	position: absolute;
	left: 83px;
	top: 553px;
	font-family: Magra;
	text-align: left;
	font-size: 13px;
	letter-spacing: 0;
}

.e157_95 {
	width: 34px;
	height: 32px;
	position: absolute;
	left: 126px;
	top: 635px;
	border-top-left-radius: 68px;
	border-top-right-radius: 68px;
	border-bottom-left-radius: 68px;
	border-bottom-right-radius: 68px;
	background-image: url(images/image_3.png);
	background-repeat: no-repeat;
	background-size: cover;
}



.e157_96 {
	color: rgba(0, 0, 0, 1);
	width: 65px;
	height: 20px;
	position: absolute;
	left: 210px;
	top: 641px;
	font-family: Open Sans Hebrew;
	text-align: left;
	font-size: 15px;
	letter-spacing: 2;
}

.e157_97 {
	background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.7799999713897705);
	width: 19px;
	height: 16px;
	position: absolute;
	left: 57.5px;
	top: 553px;
	border-radius: 2px;
}


.e157_98 {
	transform: rotate(180deg);
	width: 30px;
	height: 0px;
	position: absolute;
	left: 42px;
	top: 22px;
}



.e157_99 {
	opacity: 0.75;
	width: 298px;
	height: 104px;
	position: absolute;
	left: 83px;
	top: 12px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	background-image: url(images/logo.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e157_100 {
	width: 35px;
	height: 30px;
	position: absolute;
	left: 375px;
	top: 347px;
	background-image: url(images/image_4.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e157_108 {
	background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.6399999856948853);
	width: 399px;
	height: 50px;
	position: absolute;
	left: 26px;
	top: 401px;
}

.e157_109 {
	color: rgba(32.00000189244747, 121.00000038743019, 176.00000470876694, 1);
	width: 157px;
	height: 24px;
	position: absolute;
	left: 46px;
	top: 414px;
	font-family: Inter;
	text-align: left;
	font-size: 20px;
	letter-spacing: 0;
}

.e157_110 {
	width: 35px;
	height: 30px;
	position: absolute;
	left: 374px;
	top: 414px;
	background-image: url(images/image_5.png);
	background-repeat: no-repeat;
	background-size: cover;
}





.logo1 {
	height: 100px;
	width: 350px;
	left: 374px;
	top: 414px;


}

.logo2 {
	width: 48px;
	height: 45px;
	display: flex;
	flex-wrap: wrap;
	margin-left: 0%;
	margin-top: 2%;
	border-radius: 15px;

}















/* Especialidades */

html {
	height: 100%;
	width: 100%;
}

.botao {
	height: 200px;
	width: 50px;
	margin-top: 5%;
	margin-left: 16%;


}

select {
	min-width: 3000%;
	height: 40px;


}


#foto1 {
	margin-left: 85%;

}

.foto {
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 10px;
}

.topico {
	padding: 0px;
	margin-bottom: 0px;
}

.tudo {
	padding: 0px;

}

/*#foto2{
  margin-left: 90%;
}

.icone{
  margin-left: 90%;
  margin-

}*/